@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Canter';
  src: url('../FONTS/Canter/Canter/Commercial/TTF/Canter-Bold3D.ttf')format('truetype');
}

@font-face {
  font-family: 'CanterBold';
  src: url('../FONTS/Canter/Canter/Commercial/TTF/Canter-Bold.ttf')format('truetype');
}

@font-face {
  font-family: 'RetroKing';
  src: url('../FONTS/Retroking/Retroking.ttf')format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  :root{
    --beige: #ffe1ac;
    --ocreClaro: #f8c867;
    --ocre: #f5a341;
    --marron: #975b1e;
    --marronOscuro: #603913;
    --turquesa: rgb(2, 200, 200);
    }


/******************  PARTE GENERAL DE LA WEB  **********************/

/*******************************************************************/
/*****************  VERSIÓN PREDETERMINADA: Mobile  ****************/
/*******************************************************************/


body {
    
    background-image: url(../IMAGES/BG/LIGHT/movil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #FFE1AC;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
  
  /* Estilo del Header */
header {
  /* background-color: #c97678; */
  color: #fff;
  /*text-align: center;*/
  /* padding: 20px 0; */
  margin-bottom: 10px;
}

/* CSS del switch Dark/Light*/
nav {
  background-color: #f5a441b4;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.switch {
  width: 60px;
  height: 30px;
  padding: 0 5px;
  display:flex;
  align-items: flex-end; 
  position: relative;
  border-radius: 100px;
  border: solid 2px #333;
  background-image: url(../IMAGES/iconosModo/luna.png);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: right; 
}

body.active .switch { 
  background-image: url(../IMAGES/iconosModo/sol.png);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: left;
}

.menu-options li:last-child::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: solid thin #000;
  left: 0;
  right: unset;
  
}

.menu-options li:last-child.active::before {
  right: 0;
  left: unset;
  border: solid thin #000;
  
}

.menu-options li:last-child.active i:first-child {
  color: #fff;
}

.menu-options li:last-child.active {
  background-color: chocolate;
  border: solid 2px #fff;
}

.menu-options li:last-child {
  background-color: rgb(61, 55, 51);
  border: solid 2px #fff;
}



/*****************************************************/
/*****************  ACTIVE MODO DARK *****************/
/*****************************************************/
body.active {
  background-image: url("../IMAGES/BG/DARK/BG_PrecioLuz_Dark_Movil_720x1280.jpg");
}

/* meter ahi la ruta del BG, y a partir de aqui ir llamando a por ejemplo body.active h1 {}*/

body.active h1 {
  text-shadow: 5px 5px 5px rgb(227, 227, 227, 0.4);
}

body.active h2 {
  color: rgb(227, 227, 227)
}

body.active h4 {
  color: rgb(227, 227, 227)
}

body.active h3.h3-consumo {
  color: rgb(227, 227, 227)
}

body.active .icons li {
  background: #e0d5d5; /*Auxiliar por si las imágenes no se cargan*/
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-width: 100px; /* Para que los elementos no se vuelvan demasiado pequeños */
  border-radius: 10px;
  box-shadow: 10px 10px 10px #c7c7c7c8;
 }
 
body.active .box-consumo {
  box-shadow: 10px 10px 10px rgb(227, 227, 227, 0.5);
}

body.active #tipCentrado {
  box-shadow: 10px 10px 10px rgb(227, 227, 227, 0.5);
}

/*************** FIN ACTIVE MODO DARK ****************/
/*****************************************************/
/*****************************************************/


h1 {
  text-align: center;
  color: rgb(232, 152, 54);
  font-family:'RetroKing', cursive;
  font-size: 4.5em;
  text-shadow: 5px 5px 5px #603913;
}

#box1, #box2, #box3 {
  color: #9e5700;
  padding: 0 50px;
}

#Dani_box1, #Antonio_box2, #Ruben_box3 {
  font-family: 'CanterBold';
  color: var(--turquesa);
}

.info-box {
  color: var(--ocre);
  font-family: 'CanterBold', sans-serif;
  font-size: 1.5em;
  display: flex; /* Afecta a los hijos de .info-box */
  flex-direction: column;
  text-align: center;
  padding: 0px 50px;

}

.info-box div {
  background-color: #ffffffbe;
  border: none;
  margin: 10px;
  border-radius: 0.30em; 
}

/*** ESTILO DEL MAIN ****/

h2 {
  color: var(--marronOscuro);
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  /*text-shadow: 5px 1px 5px #60391361;*/
  }

.h3-consumo{
    color: var(--marronOscuro);
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    text-align: center;
    /*text-shadow: 5px 1px 5px #60391361;*/
  }

h4 {
    color:var(--marronOscuro);
    text-align: center;
    font-family: 'Dancing Script' ,cursive;
    font-size: 2.5em;
    /*text-shadow: 5px 1px 5px #60391361;*/
  }

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 30px 200px;
 }
 
 .icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }
 
 .icons li {
  background: #e0d5d5; /*Auxiliar por si las imágenes no se cargan*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px; /* Determina el tamaño mínimo de los iconos*/
  border-radius: 10px;
  overflow: hidden; /* Para que la imagen de cada aparato quede con los bordes de las cajas */
  box-shadow: 10px 10px 10px #603913c8;
 }

 .icons button {
  background: transparent;
  border: solid;
  border-radius: 10px;
  display: flex; /* Hacer que el botón sea de ancho completo */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

 .icons img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
 }
 
.sectionIcons{
  display: flex;
  justify-content: center;
}
 
.box-consumo {
  text-align: center;
  width: 80%;
  height: 120px;
  background-color: rgb(232, 152, 54);
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px #603913c8;
  border-radius: 10px;
  /* Agregadas estas dos líneas de abajo para el estilo del precio, Antonio si quieres darle estilo aparte llama a la <p>*/
  font-size: 3.5rem;
  font-family: 'CanterBold';
  }

.consumo{
  width: 100%;
}

.container2{
  display:flex;
  gap: 5px;
  align-items:center;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

#cajaEcoTips {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

#tipCentrado{
  background-image: url(../IMAGES/BG/ECOTIPS/paper_texture.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  border-radius: 20px;
  opacity: 70%;
  text-align: center;
  align-items: center;
  background-color: #ffffffbe;
  box-shadow: 10px 10px 10px #603913c8;
  padding: 30px;
  width: 100%;
  height: 250px;
  display: flex;
  font-size: 1.2em;
}


.estiloFooter{
  background-color: #f5a441b4;
  display: flex;
  height: 60px;
  width: 100%;
  margin-top: 2%;
}
.estiloFooter>p{
  margin: auto;
  text-align: center;
}



/*******************************************************************/
/*****************  VERSIÓN PREDETERMINADA: Tablet *****************/
/*******************************************************************/


/**** Estilos general para Tablet ****/

@media screen and (min-width: 768px) {
  body{
      background-image: url(../IMAGES/BG/LIGHT/tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-color: #FFE1AC       
  }

  body.active {
    background-image: url("../IMAGES/BG/DARK/BG_PrecioLuz_Dark_Tablet_1024x1366.jpg");
  }

  nav{
    height: 40px;
    width: auto;
    padding-right: 10px;
  }

  h1 {
    height: 100px;
  }
  
  .info-box{
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0px;
  }
  

  #Dani_box1, #Antonio_box2, #Ruben_box3 {
    font-family: 'CanterBold';
    color: var(--turquesa);
    text-shadow: 1px 1px 0px rgba(64, 116, 181, 1);
  }

 /*  h2{
    font-size: 2.5em;
  } */

 /*  .h3-consumo{
    font-size: 2.5em;
  } */

  .consumo {
    margin-bottom: 20px;
  }

  .box-consumo {
    text-align: center;
    width: 80%;
    height: 70px;
    font-size: 3rem;
  }

  h4{
    font-size: 2em;
  }
  .container2{
    gap: 20px;
  }

  #cajaEcoTips {
    align-items: center;
    }

  #tipCentrado{
    display: flex;
    font-size: 1.3em;
    width: 80%;
    height: 150px;
    color: #603913;
  }

  #miGraficaContainer{
    width: 600px;
  }
}


/**** Estilos Orientación Horizontal en Tablet ****/

@media screen and (min-width: 768px) and (orientation: landscape) {

 /*  nav{
    height: 40px;
    width: auto;
    padding-right: 10px;
  } */

  h5{
    font-size: 1.8em;
    margin-left: 10px;
    margin-right: 10px;
  }

  .info-box{
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0px;
  }

  #box1, #box2, #box3 {
    color: #9e5700;
    padding: 0px;
  }

  h2{
    font-size: 2em;
  }

  h4{
    font-size: 2em;
  }

  .h3-consumo{
    font-size: 2em;
  }

  .container2 {
    margin-right: 50px;

}
  #tipCentrado{
    display: flex;
    font-size: 0em;
    width: 80%;
    height: 150px;
    color: #603913;
  }

}

/*******************************************************************/
/**************** VERSIÓN PREDETERMINADA: Escritorio ***************/
/*******************************************************************/

@media screen and (min-width: 1000px) {
  body{
      background-image: url(../IMAGES/BG/LIGHT/escritorio.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-color: #FFE1AC
  }
  .divPrincipal{
    display: flex;
    justify-content: center;
  }

  body.active {
    background-image: url("../IMAGES/BG/DARK/BG_PrecioLuz_Dark_Escritorio_1920x1080.jpg");
  }
nav {
  padding-right: 20px;
}
  main {
    width: 50%;
    padding-left: 73.5px;
  }

  #box1, #box2, #box3 {
    height: auto;
  }

  #Dani_box1, #Antonio_box2, #Ruben_box3 {
    font-size: 2em;
  }

  h2{
  font-size: 2.2em;
  }

  .container2 {
    flex-direction: column-reverse;
    width: 100%;
  }
  
  #miGraficaContainer{
    width: 600px;
    height: 400px;
  }
  
  #cajaEcoTips {
    width: 100%;
    align-items: center;
  }
  .consumo {
    position: relative;
  }
  #tipCentrado{
    width: auto;
    max-width: 600px;
    margin-top: 10px;
    background-size:contain;
    background-repeat:repeat-x;
    display: flex;
    font-size: 1.5em;
  }
}
